body {
  width: 80%;
  margin: 2em auto 0 auto;
}
.images {
  column-count: 3;
  column-fill: balance;
}
img {
  width: 100%;
}
.prevNext {
  float: right;
}
.prevNext button {
  font-size: 1.5em;
}
button:disabled {
  background: #f1f1f1;
  color: #ccc;
  border: 0px;
}
